[Unit]
Description=Raspberry pi k3s lcd status service

[Service]
Type=simple
ExecStart=/usr/local/bin/k3s_status_lcd
ExecStop=/usr/local/bin/k3s_status_lcd_shutdown
User={{ raspi_username }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
